<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.immich.machine-learning</string>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>immich</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/services/immich/app/machine-learning/start.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
